.App {
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.account {
  color:#00cdac;
}
.success {
  color: rgb(212, 12, 238);
  font-weight: bold;
}
.error {
  color: red;
  font-weight: bold;
}
.currency {
  text-decoration: underline;
}
.container > button {
  background-color: beige;
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  border: none;
}

.container > button:hover {
  background-color: transparent;
  color: black;
  border: none;
}

@keyframes MovingUp {
  0% {
    margin-top: 100rem;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0rem;
  }
  100% {
    margin-left: 7rem;
  }
}

.moveup-1 {
  animation: MovingUp 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  opacity: .7;
  background: linear-gradient(to left, #00cdac, #02aab0);
  transform: scale(0.7);
}

.moveup-2 {
  animation: MovingUp 25s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  left: 55%;
  top: 15%;
  opacity: .7;
  background: linear-gradient(to left, #dd5e89, #f7bb97);
  transform: scale(0.6);
}

.bubble {
  border-radius: 50%;
  z-index: -1;
  height: 200px;
  position: absolute;
  width: 200px;
}
